


.div_edit{

    background-image: linear-gradient(#1363DF, #47B5FF);
    background-size: cover;
    background-repeat:no-repeat;
    height:auto;
    
    }
    .hero-img{
        width: 600px;
        height: 200px;
        margin-top: 150px;
    
    }
    .div1_edit{
    
        display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .div2_edit{
    
        display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    .start-game-btn{
        background-color: #f2f6f8;
        border:3px solid  #3498db;
        border-radius: 15px;
        width: 130px;
        height: 50px;
        color: #3498db;
        font-weight: 700;
        margin-top: 50px;
    
    }
    .start-game-btn:hover{
        color:#f2f6f8;
        background:#1490e3;
        border:3px solid  #f2f6f8;
    }
    .imge-edit{
        width: 50px;
        height: 50px;
        margin: 10px;
        
      }
      #snackbar1 {
        visibility: hidden;
        min-width: 350px;
        margin-left: -125px;
        background-color: rgb(244, 77, 51);
        color: rgb(244, 237, 237);
        text-align: center;
        font-size:large;
        font-weight: 500;
        border-radius: 15px;
        padding: 26px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      #snackbar1.show {
          visibility: visible;
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
    
    #snackbar {
      visibility: hidden;
      min-width: 350px;
      margin-left: -125px;
      background-color: rgb(244, 77, 51);
      color: rgb(244, 237, 237);
      text-align: center;
      font-size:large;
      font-weight: 500;
      border-radius: 15px;
      padding: 26px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }
    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
    
    .dismiss-btn {
        padding:10px 20px;
        background: #158ddd ;
        color:#f5f5f5;
        border:2px solid #158ddd ;
        font-size:16px;
        font-weight:600;
        outline:none;
        border-radius: 10px;
        cursor:pointer;
        transition: all 300ms ease-in-out;
    
    }
    .dismiss-btn:hover{
        color:#158ddd  ;
        background:#f5f5f5;
    }
    .modal-title{
      color: #46adf3 ;
    }
    .input-edit{
      color: #f2f6f8;
      border:none ;
      border-bottom:1px solid #f6f4f4;
      padding-top: 20px; 
       background-color: rgba(255, 255, 255, 0);
       /* -webkit-backdrop-filter: blur(5px); */
      /* backdrop-filter: blur(5px); */
    
      
    
    }
    .input-edit:focus, textarea{
      outline:none;
    
      /* border:2px solid #1363DF; */
    
    }
    .labelName{
      position:absolute;
      margin-left: 1px;
      margin-bottom: 100px;
      font-weight:500;
      font-size:medium;
    }
    
    .floating-label{
      position:absolute;
    /* right: 10px; */
    left:90px;
    top: 30px ;
    color:rgb(244, 237, 237);
    
    }
    .input-edit:focus ~.floating-label,.input-edit:not(:focus):valid ~ .floating-label{
      top: 8px;
      bottom: 10px;
      left: 90px;
      font-size: 12px;
      opacity: 1;
     
    }
    .floating-label1{
      position:absolute;
    /* right: 10px; */
    left:90px;
    top: 119px ;
    color:rgb(244, 237, 237);
    
    }
    .input-edit:focus ~.floating-label1,.input-edit:not(:focus):valid ~ .floating-label1{
      top: 100px;
      bottom: 10px;
      left: 90px;
      font-size: 12px;
      opacity: 1;
      color: #f3f6f8;
    }
    .s-image-edit{
     width: 60px;
     height: 60px;
    margin: 15px;
    padding: 7px;
    border-radius: 20px;
    
    }
    .s-image-edit:hover{
      background-color:aquamarine;
      
    }
    .s-image-edit.selected{
      background-color: white;
      border:3px solid  #158ddd;
      border-radius: 20px;
      padding:5px
      
    }
    .button-pos-edit{
      margin-top:250px;
    }
    
    
    @media only screen and (max-width: 768px) {
       
      .hero-img {
        width: 100%;
      }
      .button-pos-edit{
        margin-top:250px;
        width: 100%;
        margin-left: 50px;
    }
    }
    
    .avatarx-edit{
      height: 80px;
      width: 80px;
      border-radius: 20px;
      margin-right: 10px;
    }
    .avataro-edit{
      height: 80px;
      width: 80px;
      border-radius: 20px;
      margin-right: 10px;
    }
    .avatarx-edit:hover{
      /* border:solid 2px #ff615f; */
      border-radius: 20px;
      /* height: 90px;
      width: 90px; */
      transform:
      translate3d(0px, 5px, 0px);
      /* rotateX(51deg)
      rotateZ(43deg); */
    box-shadow:
      3px 3px 0 0px #141111,
      3px 3px 28px 0 rgba(246, 246, 248, 0.01),
      20px 20px 28px -10px rgba(34, 33, 81, 0.15);
    }
    .avatarx-edit.avaXSelected{
      /* border:solid 2px #ff615f; */
      border-radius: 20px;
      /* height: 90px;
      width: 90px; */
      transform:
      translate3d(0px, 5px, 0px);
      /* rotateX(51deg)
      rotateZ(43deg); */
    box-shadow:
      3px 3px 0 0px #ff615f,
      3px 3px 28px 0 rgba(246, 246, 248, 0.01),
      20px 20px 28px -10px rgba(34, 33, 81, 0.15);
    }
    
    
    
    
    
    
    .avataro-edit:hover{
      /* border:solid 2px #ff615f; */
      border-radius: 20px;
      /* height: 90px;
      width: 90px; */
      transform:
      translate3d(0px, 5px, 0px);
      /* rotateX(51deg)
      rotateZ(43deg); */
    box-shadow:
      3px 3px 0 0px #101111,
      3px 3px 28px 0 rgba(246, 246, 248, 0.01),
      20px 20px 28px -10px rgba(34, 33, 81, 0.15);
    }
    
    .avataro-edit.avaOSelected{
      /* border:solid 2px #ff615f; */
      border-radius: 20px;
      /* height: 90px;
      width: 90px; */
      transform:
      translate3d(0px, 5px, 0px);
      /* rotateX(51deg)
      rotateZ(43deg); */
    box-shadow:
      3px 3px 0 0px #3ec5f3,
      3px 3px 28px 0 rgba(246, 246, 248, 0.01),
      20px 20px 28px -10px rgba(34, 33, 81, 0.15);
    }
    .fade-in-image {
      animation: fadeIn 3s;
      -webkit-animation: fadeIn 3s;
      -moz-animation: fadeIn 3s;
      -o-animation: fadeIn 3s;
      -ms-animation: fadeIn 3s;
    }
    
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-moz-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-ms-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    .left-ani{
      position: relative;
      
      animation: leftStart 4s ;
      animation-direction:reverse ;
    }
    @keyframes leftStart{
      0% {right:0px;}
      50%{right:40%}
    }
    .right-ani{
      
      position: relative;
      animation: rightStart 4s ;
      animation-direction:reverse ;
    }
    @keyframes rightStart{
      0% { left :0px;}
      50%{left:40%}
    }
    div.transbox {
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      padding: 20px;
    
      
      font-weight: bold;
    }
    
    .ls-image-edit{
      margin-right: 1200px;
    }
    /* .rs-image-edit{
      margin-left: 600px;
     
    } */
    .editDiv{
      background-color: #1363DF;
    }