<div class=" header  p-3 mb-2   text-white text-center fw-bold display-5   header-edit"> Tic Tac Toe</div>

<!-- Tictactoe Board -->
<div class="">
  <div class=" container  ">
    <div class="row">
      <div class="colx align-self-center">
        <div class="  text-center  fw-bold  headingbody " id="TTTbody">
          <p class="  mt-3 fw-bold  your-turn-edit" *ngIf="win==false" id="players">
            {{playerName}}<span style="color: black;"> It's your turn </span><img [src]="turnImage" alt="" width='40px' height='40px'></p>
          <div class="TTTgame display-3 fw-bold TTT   " id="TTT">
            <div class="grid-cell" [id]="i" *ngFor="let x of [].constructor(9);let i=index;"
              (click)="toClick($event); "></div>
            <div id="strike" class="strike " [ngClass]="[id]"></div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <div class="  text center  button-pos-edit" id="buttonbody">
    <button type="button" class="main-btn" (click)="playAgain()">Reset</button>
    <button type="button" class="main1-btn" onclick="window.location.href = ''">Back</button>

  </div>

  <!-- Score Board -->

  <!-- <div class="container"> -->
  <div class="card fixed-top card-edit" id="cardbody">
    <div class="card-body">
      <h5 class="card-title text-center " style="color:#1792e4; font-weight:700;">Score Board</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text "></p>
      <div class="row   container">

        <div class=" col-4 text-center   xName-edit " id="x-winner-name">{{playerObject['playerXName']}}</div>
        <div class="col-4 text-center  oName-edit " id="o-winner-name">{{playerObject['playerOName']}}</div>
      </div>
      <div class="d-flex justify-content-between  container">

        <div class="col-4  " id="avatharXSetup" *ngIf="playerObject['selectXAvatar']=='avatar1' else elseBlock">
          <img src='assets/img/avatar1.png' class='imageVSX-edit'>
        </div>
        <ng-template #elseBlock> <img src='assets/img/avatar2.png' class='imageVSX-edit'></ng-template>


        <div class="col-4 d-flex justify-content-between " *ngIf="playerObject['selectXAvatar']=='avatar3' else Block"
          id="avatharOSetup">
          <img src='assets/img/avatar3.png' class='imageVSO-edits'>
        </div>
        <ng-template #Block> <img src='assets/img/avatar4.png' class='imageVSO-edit'></ng-template>
      </div>

      <div class="row   container">
        <div class=" col-4 text-center  Xdiv-edit  ">{{playerXScore}}</div>
        <div class=" col-2 text-center fw-bold ml-1 mt-1  vs-edit"></div>

        <div class="col-4 text-center Odiv-edit "> {{playerOScore}}</div>
      </div>
    </div>
  </div>


  <!-- dialog box -->

  <dialog class="dialog-edit" style="width:500px; height:490px" id="myModal">
    <div class="popup center  " id="wingif">
      <div class="icon " id="win-img-edit1" *ngIf="draw!=9 ;else elsedraw">
        <img src="assets/img/winningImage.gif" class="win-img-edit" alt="hgfhg" style="width:300px"> 
        <h1 id="titleWinner" class=" title titleWinner-edit text-primary ">{{playerName}}<span style="color:black;font-size: 30px;font-weight: bolder;"><br> You won the match</span></h1>
      </div>
      <ng-template #elsedraw>
        <img src="assets/img/draw.gif" class="win-img-edit" alt="hgfhg" style="width:300px"> 
        <h1 id="titleWinner" class=" title display-4 fw-bold  titleWinner-edit "> Its Draw Match</h1>
      </ng-template>

      <div class="title">
        
      </div>
      <div class="description">
        <h3></h3>
      </div>
      <div class="">
        <button id="dismiss-popup-btn" class="dismiss1-btn" onclick="window.location.href = ''"> New Game</button>
        <button id="popup-btn" class="dismiss-btn" (click)="playAgain();"> Play Again</button>
      </div>
    </div>
  </dialog>